* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #777;
	font-family: 'Lato', sans-serif;

}

i {
	background-color: #333;
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul {
    position: absolute;
    list-style-type:none;
    margin: 0;
    padding: 0 48px;
    overflow: hidden;
    background-color: #333;
    text-align: justify;
    z-index: 2;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 24px;
	text-decoration: none;
	text-indent: 15px;
}

a {
	color: #fff;
	text-decoration: none;

}
a:hover {
	color: #777777;
	text-decoration:none;
}
a.button:hover {
	text-decoration: none;
}
ul.nav {
	float: left;
	margin-left: 25px;
	background-color: #000;
}
ul.nav li {
	list-style: none;
	display: inline-block;
	text-align: right;
	margin-top: 12px;
	padding: 5px 10px 0 0;
	vertical-align: bottom;
	margin: 5px 5px 0 0;
	font-size: 13px;
}

.fa {
	font-size: 20px;
	vertical-align: top;
	opacity: 0.7;
	cursor: default;
}

.fa:hover {
	opacity: 1.0;
}